.welcome-page-link {
  height: 60px;
  background-color: var(--N50);
  border: var(--basic-border);
  justify-content: start;
  border-radius: 1em;
}

.welcome-page-link i {
  color: var(--P75);
  font-size: 25px;
}
