.welcome-news-grid {
  height: calc(180px + 2em);
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  gap: 1em;
}

.welcome-news-entry {
  padding: 1.5em;
  box-sizing: border-box;
  border: var(--basic-border);
  border-radius: 1em;
  height: 100%;
  min-height: 0;
  background-color: var(--N50);
}

.welcome-page-news-flex {
  height: 100%;
  justify-content: space-between;
  text-align: start;
}

.welcome-news-entry-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  overflow: hidden;
  color: var(--N900);
}
