.welcome-tutorial-container {
  position: relative;
  box-sizing: content-box;
  max-height: 80vh;
  width: 100%;
  aspect-ratio: 1.9;
}

.welcome-tutorial-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.tutorial-thumbnail {
  cursor: pointer;
  border: var(--basic-border);
  border-radius: 1em;
}
