.sprotty > div:focus-visible {
  outline: none;
}
.sprotty svg.sprotty-graph,
.sprotty svg.sprotty-empty {
  border: none;
}

body .sprotty .grid-background .sprotty-graph {
  --grid-color: var(--glsp-grid);
}
