@font-face {
  font-family: 'ivy-logo';
  src('../font/fontello.woff?26322215') format('woff');
  font-weight: normal;
  font-style: normal;
}

.icon-ivy-logo-black-background:before { content: '\e800'; }
