html,
body,
#root {
  margin: 0;
  height: 100%;
  min-height: 100%;
}

body:where(.vscode-dark, .vscode-high-contrast:not(.vscode-high-contrast-light)) .react-flow {
  --xy-edge-stroke: var(--N700);
  --xy-attribution-background-color: transparent;
  --xy-minimap-background-color: var(--N50);
  --xy-minimap-mask-background-color: rgb(60 60 60 / 0.6);
  --xy-minimap-node-background-color: var(--N200);
  --xy-background-color: var(--background);
  --xy-node-color: var(--body);
  --xy-node-border: var(--basic-border);
  --xy-node-background: var(--background);
  --xy-controls-button-background-color: var(--N25);
  --xy-controls-button-background-color-hover: var(--N100);
  --xy-controls-button-color: var(--body);
  --xy-controls-button-color-hover: var(--body);
  --xy-controls-button-border-color: var(--N200);
}
